// -------------------------------------------- Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
$main-font: 'Montserrat',
sans-serif;

// --------------------------------------------- Colors
$main-color: #d3d3d3;
$border-color: #dee0e0;
$icon-color: #7e7e7e;
$light-grey: #d3d3d3;
$grey: #acacac;
$dark-grey: #535353;
$black: #161619;
$green: rgb(84, 172, 99);
$dark-green: rgb(69, 139, 81);
$red: #e65a61;
$yellow: rgb(255, 196, 0);